:root{
    --font-serif: Lora, serif;
    --font-sans-seif: Lexend Mega
    ,sans-serif;
    --ivory: #f8f6f1;
    --light--blue: #49a7db;
    --dark--gray: #333333;
    --white: #ffffff;
    --black: #000000;
}
img{
    width: 45%;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: var(--font-serif);
  }

  .component_title{
    background-color: black;
    color: white;
    font-size: 100%;
    border-radius: 4px;
    padding: 8px; 
    margin: 5px;
  }

  .component_sub{
    background-color: rgb(202, 202, 202);
    font-size: 100%;
    border-radius: 4px;
    padding: 8px; 
    margin: 5px;
  }

  .article{
    background-color: #f8f6f1;
    height: 450px;
    width: 45%;
  }

  .text-wrap{
    padding-top: 10px;
    margin-left: 14%;
  }

  .article-title{
    font-weight: lighter;
    font-size: 18px;
    margin-left: 9%;
  }

  .title_sub{
    margin-left: 9%;
    font-size: 13px;
    display: inline-block;
    width: 400px;
    font-size: 65%;
  }

  .article-context{
    font-family: Lexend Mega, sans-serif;
    font-weight: normal;
    margin-left: 9%;
    font-size: 50%;
  }

  .article-context_sub{
    margin-left: 9%;
    font-size: 66%;
    display: inline-block;
    width: 350px;
  }

  .btn{
    margin-top: 30px;
  }

  .article-button{
    font-family: Lexend Mega, sans-serif;
    font-weight: normal;
    font-size: 50%;
    background-color: rgb(255, 255, 255);
    border: .5px solid black;
    margin-left: 9%;
    /* text-align: center */
    text-decoration: none;
    padding: 15px 55px;
    color: black;
    filter: alpha(opacity=90);
  }

  .article-button:hover {opacity: 0.7}

  .component_button{
    background-color: rgb(202, 202, 202);
    font-size: 100%;
    border-radius: 4px;
    padding: 8px; 
    margin: 5px;
    margin-top: 5%;
  }

  .links{
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    text-decoration: none;
  }

  .links a{ 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    font-family: Lexend Mega, sans-serif;
}

.component_nav{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.nav-list{
  align-items: center;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.nav-list a{
  text-decoration: none;
  color: black;
}

.nav-list li:hover {
  text-decoration:underline;
}

.nav-list li{ 
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: normal;
  font-size: 10px;
  font-family: Lexend Mega, sans-serif;

}

.component_logo{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.logo{
  width: 5%;
  margin-left: 50%;
}

.icons{
  align-items: center;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  text-decoration: none;
}

.component_feature{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.feature_image{
  width: 90%;
  margin-left: 5%;
}

.feature_text{
  margin-top: -30%;
  margin-bottom: 20%;
  margin-left: 6%;
  font-size: 110%;
  color: white;
}

.feature-content{
  font-weight: normal;
  display: inline-block;
  width: 350px;
  margin-left: 9%;
  font-size: 190%;
}

.feature-img{
  width: 90%;
  margin-left: 5%;
  overflow: auto;
}

.feature-button{
  font-family: Lexend Mega, sans-serif;
  transform: translate(-187%, 150%);
  /* -ms-transform: translate(-50%, -50%); */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 54%;
  padding: 17px 24px;
  border: none;
  cursor: pointer;
  filter: alpha(opacity=90);
}

.feature-button:hover {opacity: 0.7}

.component_section{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.section{
  background-color: #fffbf7;
  width: 90%;
  margin-left: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.section__card{
  width: 90%;
  margin-left: 5%;
}

.section{
  display: grid;
  grid-template-columns: auto auto auto;
}

.section__card-title{
  font-family: Lexend Mega, sans-serif;
  font-weight: normal;
  font-size: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: -20%;
    
}

.section__card-context{
  font-family: Lexend Mega, sans-serif;
  font-weight: normal;
  font-size: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: -10%;
} 

.section__card-img{
  width: 70%;
  margin: auto;
  margin-left: 15%;
}

.arrow li{
  list-style: none;
}

.arrow{
  margin-left: 295%;
  margin-top: -60%;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 20px;
  padding-left: 2%;
}

.feature__2_text{
  margin-top: -40%;
  margin-bottom: 20%;
  margin-left: 6%;
  font-size: 110%;
  color: white;
}

.feature__2-title{
  font-weight: normal;
  display: inline-block;
  width: 300px;
  margin-left: 12%;
  font-size: 100%;
  margin-top: 45px;
}

.feature__2-context{
  width: 340px;
  margin-left: 12%;
  font-size: 80%;
  line-height: 1.5;
}


.feature__2-button{
  font-family: Lexend Mega, sans-serif;
  transform: translate(48%, -10%);
  /* -ms-transform: translate(-50%, -50%); */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 54%;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 25%;  
  filter: alpha(opacity=90);
  margin-bottom: 3%;
}


.feature__2-button:hover {opacity: 0.7}


.feature__2-img{
  width: 90%;
  margin-left: 5%;
  overflow: auto;
}

.component_article{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.article__2{
  width: 100%;
}

.article__2-img{
  width: 86%;
  margin-left: 7.5%;
}

.article__2-place{
  font-family: Lexend Mega, sans-serif;
  font-weight: normal;
  font-size: 50%;
  margin-left: 7.5%;
}

.article__2-number{
  font-family: Lexend Mega, sans-serif;
  font-weight: normal;
  font-size: 60%;
  text-align: right;
  margin-top: -2%;
  margin-right: 6.5%;
}

.article_quote{
  font-weight: normal;
  font-size: 150%;
  margin-left: 17%;
  margin-top: 50px;
  margin-bottom: 5%;
}


.guide{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* width: 80%; */
  margin-left: 5.1%;
}

.article__guide-title{
  font-weight: normal;
  font-size: 150%;
  margin-left: 5.2%;
}

.component__guide{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

.article-guide{
  width: 100%;
}

.article__guide-img{
  width: 110%;
  /* margin-left: 2%; */
  display: flex;
  float: left;
  margin-bottom: 18%;
}

.guide__card{
  font-family: Lexend Mega, sans-serif;
  font-size: 80%;
  width: 90%;
  padding-left: 12%;
  letter-spacing: 30%;
}

.article__guide-context{
  font-family: Lora, serif;
}

.article__guide-sub{
  font-weight: normal;
  margin-top: 20%;
}

.article__guide-context{
  font-size: 12px;
  margin-top: 15%;
  
}

.article__guide-button{
  margin-top: 9%;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.article__guide-buttons{
  margin-top: 14%;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  color: black;
}


.article__guide-button:hover {
  text-decoration:underline;
}

.article__guide-buttons:hover {
  text-decoration:underline;
}


.feature__3-text{
  margin-top: -35%;
  margin-bottom: 20%;
  margin-left: 1%;
  font-size: 110%;
  color: white;
}

.feature__3-img{
  width: 100%;
}

.feature__3-context{
  margin-left: 9%;
  font-size: 90%;
  display: inline-block;
  width: 350px;
}

.feature__3-button{
  font-family: Lexend Mega, sans-serif;
  transform: translate(-106%, 150%);
  /* -ms-transform: translate(-50%, -50%); */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 54%;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 25%;  
  filter: alpha(opacity=90);
  margin-bottom: 3%;
}

.feature__3-button:hover {opacity: 0.7}

.component_footer{
  background-color: rgb(202, 202, 202);
  font-size: 100%;
  border-radius: 4px;
  padding: 8px; 
  margin: 5px;
}

footer{
  background-color: #333333;
}

.footer_img{
  width: 100%;
}

.footer{
  list-style-type: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  margin-top: 20px;
  width: 100%;
  color: white;
}

.nav{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 130%;
  margin-top: 10%;
}

.footer__title{
  font-family: Lexend Mega, sans-serif;
  font-weight: normal;
  font-size: 80%;
  margin-left: 3%;
  margin-top: 5%;

}

.footer_box{
  color: white;
  list-style: none;
  font-family: Lexend Mega, sans-serif;
  font-size: 50%;
  width: 90%;
  /* padding-left: 12%; */
  /* letter-spacing: 30%; */
}

.link_name{
  font-size: 12px;

}

.footer_box a{ 
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: normal;
}

.footer_box li{
  margin-bottom: 20px;
} 

.footer__wrapper{
  display: grid;
  grid-template-columns: auto auto;
}

.footer__subscribe{
  width: 40%;
  margin-left: 50%;
  margin-top: 7%;
}

.footer__subscribe-title{
  font-family: Lexend Mega, sans-serif;
  color: white;
  font-size: 70%;
}

.footer__subscribe-context{
  color: white;
  font-size: 65%;
  width: 110%;
  margin-top: 5%;
}

.email{
  color: white;
  font-size: 65%;
  width: 110%;
  margin-top: 5%;
}

hr{
  width: 110%;
}

.privacy{
  font-family: Lexend Mega, sans-serif;
  color: white;
  font-size: 50%;
}

.line{
  width: 272%;
  margin-top: 10%;
}


.bottom{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 3%;
  padding-bottom: 4%;
  margin-top: 4%;
}

.term{
  font-family: Lexend Mega, sans-serif;
  color: white;
  font-size: 50%;


}

.copyright{
  font-family: Lexend Mega, sans-serif;
  color: white;
  font-size: 50%;
  margin-left: 32%;
}