<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css"/>
    <title>Components l Blue Bottle</title>
  </head>

  <body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component_title">body</h3>
        <img 
        srcset="img/Screenshot 2023-04-06 at 9.07.49 AM.png 2x"
        src="img/Screenshot 2023-04-06 at 9.07.49 AM.png" alt="body copy">

    <div class="component_paragraph">
        <p>20% Off Your First Instant Subscription Order</p>
    </div>

    <div class="component_button">
        <p>SUBSCRIBE AND SAVE</p>
    </div>

  </body>
</html>