<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css"/>
    <title>Components l Blue Bottle</title>
    
    <script src="https://kit.fontawesome.com/110662b68d.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <h1>Web Components</h1>

    <p>Collection data from Blue Bottle Web Page</p>

    <article class="component">
        <h3 class="component_title">Typography</h3>

        <h3 class="component_sub">Body</h3>
        
        <img 
        srcset="img/Screenshot 2023-04-06 at 9.07.49 AM.png 2x"
        src="img/Screenshot 2023-04-06 at 9.08.26 AM.png" alt="body copy">

      <div class="article">
        <h3 class="article-title">Blue Bottle Coffee Subscription</h3>

        <p class="title_sub">Experience the world's most beautiful coffee through a Blue Bottle Coffee Subscription</p>
      </div>

        <h4 class="article-context">SMALL BATCH ROASTING</h4>

        <p class="article-context_sub">Exceptionalcoffee, roasted daily to order in small bathes, then shipped directly to you</p>

        <h4 class="article-context">ETHICALLY SOURED</h4>

        <p class="article-context_sub">We build long-term relationship with producers who have high tracebility</p>

        <h4 class="article-context">FULL FLEXIBILITY</h4>

        <p class="article-context_sub">Delivered on your schedule-skip, change, cancel, or pause anytime</p>

        <h4 class="article-button">SHOP SUBSCRIPTIONS</h4>

    </div>

        <h3 class="component_button">Links</h3>

        <ul class="links">

        <a href="https://bluebottlecoffee.com/us/eng/collection/cold-brew">Shop Now</a>

        <a href="https://bluebottlecoffee.com/us/eng/product/craft-instant-coffee-bold">Subscribe and Save</a>

        <a href="https://bluebottlecoffee.com/us/eng/collection/brewers">Shop Brew Tool</a>

        <a href="https://bluebottlecoffee.com/us/eng/subscriptions?tb=coffee-subscriptions"> Shop Subscription</a>

        <a href="https://bluebottlecoffee.com/us/eng/collection/craft-instant"> Shop Craft Instant</a>

        <a href="https://bluebottlecoffee.com/us/eng/our-story"> Our Story</a>

        </ul>

        <h3 class="component_nav">.nav-list</h3>

        <ul class="nav-list">

          <li>Shop</li>
          <li>Subscriptions</li>
          <li>Learn</li>

        </ul>

        <h3 class="component_logo">Logo</h3>

        <img class="logo" src="img/blue bottle logo.png" alt= "blue bottle logo"></alt>

        <h3 class="component_logo">Icons</h3>
        
        <ul class="icons">

          <li><a href=#!><i class="fa-brands fa-facebook-f" style="color: #000000;"></i></a></li>

          <li><a href=#!><i class="fa-brands fa-twitter" style="color: #000000;"></i></a></li>

          <li><a href=#!><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>

          <li><a href=#!><i class="fa-brands fa-youtube" style="color: #000000;"></i></a></li>


        </ul>

        <h3 class="component_feature">Feature</h3>

        <img class="feature" src="img/Screenshot 2023-04-06 at 9.07.49 AM.png" alt= "blue bottle logo"></alt>

        <div class="feature">

          <h2 class="feature-content">20% Off Your First Instant Subscription Order</h2>

          <h4 class="feature-button">SUBSCRIBE AND SAVE</h4>

        </div>

        <h3 class="component_section">Section</h3>

        <img class="section__card" src="img/Screenshot 2023-04-06 at 9.07.58 AM.png" alt="coffee-images"></article>

        <div class="section"> 
          
          <h3 class="section__card-title">
            SHOP TRAVEL MUGS
          </h3>

          <h3 class="section__card-title">
            SHOP BLENDS
          </h3>

          <h3 class="section__card-title">
            SHOP BLENDS
          </h3>
          
          <h4 class="section__card-context">
            FROM THE OFFICE TO THE OUTDOORS
          </h4>

          <h4 class="section__card-context">
            EXPERTLY CRAFTED, UNIQUELY DELICIOUS
          </h4>

          <h4 class="section__card-context">
            CAFE-QUALITY LATTES, ANYWHERE
          </h4>

          <img class="section__card-img" src="img/Screenshot 2023-04-16 at 8.36.41 AM.png" alt="mug-img"></alt>

          <img class="section__card-img" src="img/Screenshot 2023-04-16 at 8.49.13 AM.png" alt="coffee pack img"></alt>

          <img class="section__card-img" src="img/Screenshot 2023-04-16 at 8.36.37 AM.png" alt="coffee ground img"></alt>

        </div>

          <h3 class="component_feature">Feature__2</h3>

        <img class="feature" src="img/Screenshot 2023-04-06 at 9.08.15 AM.png" alt= "blue bottle logo"></alt>

        <div class="feature__2">

          <h2 class="feature__2-title">Our Most Beloved Espresso Blend</h2>

          <p class="feature__2-context">We developed Hayes Valley Espresso for our first brick-and-mortar, a friend's garage tucked away in the San Francisco neighborhood of the same name. It's our darkest blend, delicious as a straight shot and equally delightful with milk.</p>

          <h4 class="feature-button">Shop Now</h4>

          <h3 class="component_article">article__2</h3>

          <img class="article__2" src="img/Screenshot 2023-04-06 at 9.08.56 AM.png" alt="japan cafe">
        </div>

        <img class="article__2-img" src="img/Screenshot 2023-04-16 at 10.56.22 AM.png" alt="japan cafe">

        <h4 class="article__2-place">YOKOHAMA, JAPAN</h4>

        <h4 class="article__2-number">01 02 03</h4>

        <h3 class="article_quote">We design artful and engaging spaces to be paired with your favorite coffee.</h3>

      </div>

      <h3 class="component__guide">.article_guide</h3>

      <img class="article-guide" src="img/Screenshot 2023-04-06 at 9.09.05 AM.png" alt="coffee guide img">

      <h3 class="article__guide-title">Explore our brew guides</h3>

  <div class="guide">

      <img class="article__guide-img" src="img/Screenshot 2023-04-16 at 10.56.29 AM.png" alt="brew img">

      <div class="guide__card">

      <h4 class="article__guide-sub">FINESSE YOUR FRENCH PRESS</h4>

      <p class="article__guide-context">Learn how to brew rich, heady coffee in four minutes with French press in our step-by-step guide.</p>

      <h4 class="article__guide-button">LEARN MORE</h4>

      </div>

      <img class="article__guide-img" src="img/Screenshot 2023-04-16 at 10.56.36 AM.png" alt="brew img">


      <div class="guide__card">

      <h4 class="article__guide-sub">THE PREFECT POUR OVER</h4>

      <p class="article__guide-context">The artful over is used in our cafes around the world. Perfect your skills with our guide.</p>

      <h4 class="article__guide-buttons">LEARN MORE</h4>

      </div>

  </div>

  <h3 class="component_feature">Fature__3</h3>

  <img class="feature__3-img" src="img/Screenshot 2023-04-06 at 9.09.14 AM.png" alt="forest">

  <p class="feature__3-context">From seed to cup, we've gone to interminable lengths to realize coffee's full potential. Come experience coffee as we do.</p>

  <h4 class="feature__3-button">OUR STORY</h4>

  <h3 class="component_footer">Footer</h3>

  <img class="footer_img" src="img/Screenshot 2023-04-06 at 9.09.27 AM.png" alt="footer">

<footer>

<div class="footer">
  
  <h3 class="footer__title">BLUE BOTTLE COFFEE</h3>

</div>

<div class="footer__wrapper">

      <div class="nav">

        <div class="footer_nav">

          <ul class="footer_box">

            <li class="link_name">COMPANY</li>
            <li><a href=#!>OUR BRAND</a></li>
            <li><a href=#!>OUR COFFEE</a></li>
            <li><a href=#!>CAREERS</a></li>
          </ul>

        </div>

        <div class="footer_nav">

          <ul class="footer_box">

            <li class="link_name">LEARN</li>
            <li><a href=#!>FAQS</a></li>
            <li><a href=#!>BREW GUIDES</a></li>
            <li><a href=#!>BLOG</a></li>
            <li><a href=#!>VIRTUAL CLASSES</a></li>
          </ul>

        </div>

        <div class="footer_nav">

          <ul class="footer_box">

            <li class="link_name">MORE</li>
            <li><a href=#!>CONTACT US</a></li>
          </ul>
        
        </div>
 

      </div> 

      <div class="footer__subscribe">
        <div class="footer__subscribe-title">SUBSCRIBE AND STAY UPDATED</div>

        <div class="footer__subscribe-context">Join our email newsletter for exclusive offers, Blue Bottle news, events, and first access to our most exicting releases. Plus, get complimentary shipping on your first purchase when you sign up.</div>

        <div class="email">enter your email address</div>

        <hr>

        <div class="privacy">PRIVACY POLICY & TERMS</div>

      </div>

      <hr class="line">
  </div> 

  <div class="bottom">

    <div class="term">TERMS OF USE PRIVACY POLICY DO NOT SELL OR SHARE MY PERSONAL INFORMATION</div>
  
      <div class="copyright">2022 BLUE BOTTLE COFFEE INC., ALL RIGHTS RESERVED</div>

     

    </div>
    

</footer>




  </body>
</html>